.btn {
  padding: 15px 20px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0, 0.2);
  cursor: pointer;

  &.btn-sm {
    padding: 5px 10px;
  }

  &.btn-primary {
    color: #fff;
    border: 1px solid rgba(0,0,0, 0.1);
    background-color: var(--purple-color);
  }

  &.btn-info {
    color: #fff;
    border: 1px solid rgba(0,0,0, 0.1);
    background-color: var(--blue-color);
  }

  &.btn-success {
    color: #fff;
    border: 1px solid rgba(0,0,0, 0.1);
    background-color: #2ecc71;
  }

  &:disabled {
    @extend .transition-slow;
    cursor: not-allowed;
    box-shadow: inset 0 0 20px 5px rgba(0,0,0,0.1);
    background-color: #eee;
    color: #666;
  }

  &:hover {
    @extend .transition-slow;
    box-shadow: inset 0 0 20px 5px rgba(0,0,0,0.1);
  }
}
