$default-padding-item: 10px;

.contact-list {
  .contact-list-header {
    margin-bottom: 20px;

    h2 {
      font-size: 16px;
    }
  }

  .list-table-body {
    display: grid;
    grid-template-areas: "1 1 1 1 1";
    grid-auto-columns: 20%;
    border: 1px solid #eee;
    margin-bottom: 5px;

    .list-table-body-item {
      padding: $default-padding-item;
    }

    .list-actions {
      color: #ccc;

      .fas {
        margin-left: 5px;
      }
    }

    .list-messages {
      color: #666;
      .fas {
        margin-right: 5px;
      }
    }

    &:hover {
      .list-actions {
        color: #333;
      }
    }

    &:nth-child(even), &:hover {
      background-color: #F9F9F9;
    }
    &:last-of-type {
      border-top: 1px solid transparent;
    }
  }
}
