.header-section {
  background-color: #fff;
  
	.header-section-title {
		@extend .user-select;
		color: var(--light-text-color);
		font-weight: 600;
		padding: 20px;
		background-color: var(--primary-color);

		.title-icon {
      font-size: 16px;
      margin-right: 10px;
    }
    
    .title-text {
      font-weight: 900;
      
      a {
        color: #fff;
      }
    }

    &:after {
      content: '';
      width: 30px;
      height: 58px;
      background-color: var(--primary-color);
      position: absolute;
      transform: skew(-10deg);
      right: -30px;
      border-right: 15px solid #61116f;
    }
	}

	.header-section-menu {
		a {
      padding: 20px;

      span {
        margin-left: 10px;
      }

      &.active {
        color: var(--light-text-color);
        background-color: var(--primary-color);
      }
		}
	}
}