@import 'home';
@import 'profile';
@import 'create';
@import 'edit';
@import 'edit_message';

.sections-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  box-shadow: inset 0px 7px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 10px 10px;
}
