@import 'home';
@import 'profile';

.sections-content {
  min-height: 400px;
  background-color: #fff;
  padding: 20px;
  box-shadow: inset 0px 7px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 10px 10px;
}
