.section-profile {
  .section-profile-header {
    h2 {
      font-size: 16px;
      margin-bottom: 40px;
    }
  }
  .profile-edit {
    position: absolute;
    right: 0px;
    font-size: 16px;
    top: 0px;
  }

  .profile-intro {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-column-gap: 20px;

    .profile-intro-item {
      padding: 20px;
      border-left: 1px solid #ccc;

      &:first-of-type {
        border-left: 1px solid transparent;
      }
    }
  }

  .profile-messages {
    margin-top: 40px;
    background-color: var(--light-color);
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;

    .profile-messages-body {
      border: 1px solid #d4d4d4;
      background-color: #fff;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 5px;

      .messages-body-item  {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;

        h4 {
          margin-bottom: 5px;
        }

        &.messages-body-title {
          .messages-body-item-actions {
            position: absolute;
            right: -10px;
            top: -10px;
          }
        }

        &:last-of-type {
          padding-bottom: 0px;
          border-bottom: none;
          margin-bottom: 0px;
        }
      }

      &:last-of-type {
        margin-bottom: 0px;
      }
    }

    .profile-messages-form, .profile-messages-new {
      margin-top: 20px;
    }

    .profile-messages-form {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #ccc;

      h4 {
        margin-bottom: 20px;
      }

      .messages-form-item  {
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0px;
        }

        &.messages-form-buttons {
          button {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
