.container-fluid {
  max-width: 100%;
  margin: 30px;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0, 0.2);
}

.flex {
  display: flex;
}

.flex-start-column {
  @extend .flex;
  justify-content: flex-start;
  flex-direction: column;
}

.flex-center {
  @extend .flex;
  justify-content: center;
  align-items: center;
}

.flex-start-center {
  @extend .flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-between-center {
  @extend .flex;
  justify-content: space-between;
  align-items: center;
}
