@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");
button, input, select, textarea, a {
  outline: none; }

h1, h2, h3, h4, h5 {
  margin: 0px;
  padding: 0px; }

a {
  color: var(--default-text-color);
  text-decoration: none; }

.uppercase {
  text-transform: uppercase; }

.relative {
  position: relative; }

.pointer {
  cursor: pointer; }

.unstyled-list {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.user-select, .header-section .header-section-title {
  user-select: none; }

.hide {
  display: none; }

.transition-slow, .btn:disabled, .btn:hover {
  transition: all 0.3s ease; }

.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: var(--purple-color); }

:root {
  --primary-color: #9C27B0;
  --purple-color: #671d75;
  --blue-color: #5ED9E7;
  --yellow-color: #FCCA21;
  --light-color: #eee;
  --dark-color: #333333;
  --default-text-color: #333333;
  --light-text-color: #eeeeee; }

.header-section {
  background-color: #fff; }
  .header-section .header-section-title {
    color: var(--light-text-color);
    font-weight: 600;
    padding: 20px;
    background-color: var(--primary-color);
    font-size: 16px;
    font-weight: 900; }
    .header-section .header-section-title .title-icon {
      margin-right: 10px; }
    .header-section .header-section-title .title-text a {
      color: #fff; }
    .header-section .header-section-title:after {
      content: '';
      width: 30px;
      height: 58px;
      background-color: var(--primary-color);
      position: absolute;
      transform: skew(-10deg);
      right: -30px;
      border-right: 15px solid #61116f; }

.input-default {
  height: 40px;
  border: 1px solid #e2e2e2;
  padding: 0 15px; }

.textarea-default {
  min-height: 80px;
  border: 1px solid #e2e2e2;
  padding: 15px; }

.btn {
  padding: 15px 20px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer; }
  .btn.btn-sm {
    padding: 5px 10px; }
  .btn.btn-primary {
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--purple-color); }
  .btn.btn-info {
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--blue-color); }
  .btn.btn-success {
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #2ecc71; }
  .btn:disabled {
    cursor: not-allowed;
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.1);
    background-color: #eee;
    color: #666; }
  .btn:hover {
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.1); }

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.4); }

.toasts-content {
  position: fixed;
  z-index: 4;
  margin: 0 auto;
  top: 20px;
  width: 50%;
  left: 0px;
  right: 0px; }
  .toasts-content .toasts-list {
    width: 100%; }
    .toasts-content .toasts-list .toasts-list-item {
      text-align: center;
      min-width: 200px;
      color: #fff;
      padding: 20px;
      margin-bottom: 20px; }
      .toasts-content .toasts-list .toasts-list-item .toasts-item-remove {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0px 5px;
        position: absolute;
        top: 0px;
        right: 0px; }
      .toasts-content .toasts-list .toasts-list-item.toast-default {
        background-color: rgba(0, 0, 0, 0.9); }
      .toasts-content .toasts-list .toasts-list-item.toast-success {
        background-color: rgba(39, 174, 96, 0.9); }
      .toasts-content .toasts-list .toasts-list-item.toast-warning {
        background-color: rgba(243, 156, 18, 0.9); }
      .toasts-content .toasts-list .toasts-list-item.toast-danger {
        background-color: rgba(231, 76, 60, 0.9); }

.container-fluid {
  max-width: 100%;
  margin: 30px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2); }

.flex, .flex-end, .flex-start-column, .flex-center, .flex-start-center, .flex-between-center, .flex-center-column {
  display: flex; }

.flex-end {
  justify-content: flex-end; }

.flex-start-column {
  justify-content: flex-start;
  flex-direction: column; }

.flex-center {
  justify-content: center;
  align-items: center; }

.flex-start-center {
  justify-content: flex-start;
  align-items: center; }

.flex-between-center {
  justify-content: space-between;
  align-items: center; }

.flex-center-column {
  align-items: center;
  flex-direction: column; }

.section-home .contact-list {
  height: 100%; }
  .section-home .contact-list .list-header {
    margin-bottom: 20px; }
    .section-home .contact-list .list-header h2 {
      font-size: 16px; }
  .section-home .contact-list .list-table-body--empty {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ccc;
    font-size: 22px; }
    .section-home .contact-list .list-table-body--empty i {
      font-size: 32px; }
  .section-home .contact-list .list-table-body {
    display: grid;
    grid-template-areas: "1 1 1 1";
    grid-auto-columns: 25%;
    border: 1px solid #eee;
    margin-bottom: 5px; }
    .section-home .contact-list .list-table-body .list-table-body-item {
      padding: 10px; }
    .section-home .contact-list .list-table-body .list-actions {
      color: #ccc; }
      .section-home .contact-list .list-table-body .list-actions i {
        margin-left: 5px; }
    .section-home .contact-list .list-table-body .list-messages {
      color: #666; }
      .section-home .contact-list .list-table-body .list-messages i {
        margin-right: 5px; }
    .section-home .contact-list .list-table-body:hover .list-actions {
      color: #333; }
    .section-home .contact-list .list-table-body:nth-child(even), .section-home .contact-list .list-table-body:hover {
      background-color: #F9F9F9; }
    .section-home .contact-list .list-table-body:last-of-type {
      border-top: 1px solid transparent; }

.section-profile .profile-intro {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-column-gap: 20px; }

.section-profile .profile-messages {
  margin-top: 40px;
  background-color: var(--light-color);
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 5px; }
  .section-profile .profile-messages .profile-messages-body {
    border: 1px solid #d4d4d4;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px; }
    .section-profile .profile-messages .profile-messages-body .messages-body-item {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #eee; }
      .section-profile .profile-messages .profile-messages-body .messages-body-item.messages-body-title i {
        position: absolute;
        right: -10px;
        top: -10px; }
      .section-profile .profile-messages .profile-messages-body .messages-body-item:last-of-type {
        padding-bottom: 0px;
        border-bottom: none;
        margin-bottom: 0px; }
    .section-profile .profile-messages .profile-messages-body:last-of-type {
      margin-bottom: 0px; }
  .section-profile .profile-messages .profile-messages-form, .section-profile .profile-messages .profile-messages-new {
    margin-top: 20px; }
    .section-profile .profile-messages .profile-messages-form i, .section-profile .profile-messages .profile-messages-new i {
      margin-right: 10px; }
  .section-profile .profile-messages .profile-messages-form {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc; }
    .section-profile .profile-messages .profile-messages-form h4 {
      margin-bottom: 20px; }
    .section-profile .profile-messages .profile-messages-form .messages-form-item {
      margin-bottom: 20px; }
      .section-profile .profile-messages .profile-messages-form .messages-form-item:last-of-type {
        margin-bottom: 0px; }
      .section-profile .profile-messages .profile-messages-form .messages-form-item.messages-form-buttons button {
        margin-right: 20px; }

.sections-content {
  position: relative;
  min-height: 400px;
  background-color: #fff;
  padding: 20px;
  box-shadow: inset 0px 7px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 10px 10px; }
