@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");
button, input, select, textarea, a {
  outline: none; }

h1, h2, h3, h4, h5 {
  margin: 0px;
  padding: 0px; }

a {
  color: var(--default-text-color);
  text-decoration: none; }

.uppercase {
  text-transform: uppercase; }

.relative {
  position: relative; }

.pointer {
  cursor: pointer; }

.unstyled-list {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.user-select, .header-section .header-section-title {
  user-select: none; }

.transition-slow {
  transition: all 0.3s ease; }

.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: var(--purple-color); }

:root {
  --primary-color: #9C27B0;
  --purple-color: #671d75;
  --blue-color: #5ED9E7;
  --yellow-color: #FCCA21;
  --light-color: #eee;
  --dark-color: #333333;
  --default-text-color: #333333;
  --light-text-color: #eeeeee; }

.header-section {
  background-color: #fff; }
  .header-section .header-section-title {
    color: var(--light-text-color);
    font-weight: 600;
    padding: 20px;
    background-color: var(--primary-color);
    font-size: 16px;
    font-weight: 900; }
    .header-section .header-section-title .title-icon {
      margin-right: 10px; }
    .header-section .header-section-title .title-text a {
      color: #fff; }
    .header-section .header-section-title:after {
      content: '';
      width: 30px;
      height: 58px;
      background-color: var(--primary-color);
      position: absolute;
      transform: skew(-10deg);
      right: -30px;
      border-right: 15px solid #61116f; }
  .header-section .header-section-menu a {
    padding: 20px; }
    .header-section .header-section-menu a span {
      margin-left: 10px; }
    .header-section .header-section-menu a.active {
      color: var(--light-text-color);
      background-color: var(--primary-color); }

.contact-list .list-table-body {
  border: 1px solid #eee; }
  .contact-list .list-table-body .list-table-body-item {
    padding: 10px; }
  .contact-list .list-table-body .list-actions {
    color: #ccc; }
    .contact-list .list-table-body .list-actions .fas {
      margin-left: 5px; }
  .contact-list .list-table-body:hover .list-actions {
    color: #333; }
  .contact-list .list-table-body:nth-child(even), .contact-list .list-table-body:hover {
    background-color: #F9F9F9; }
  .contact-list .list-table-body:last-of-type {
    border-top: 1px solid transparent; }

.container-fluid {
  max-width: 100%;
  margin: 30px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2); }

.flex, .flex-start-column, .flex-center, .flex-start-center, .flex-between-center {
  display: flex; }

.flex-start-column {
  justify-content: flex-start;
  flex-direction: column; }

.flex-center {
  justify-content: center;
  align-items: center; }

.flex-start-center {
  justify-content: flex-start;
  align-items: center; }

.flex-between-center {
  justify-content: space-between;
  align-items: center; }

.sections-content {
  min-height: 400px;
  background-color: #fff;
  padding: 20px;
  box-shadow: inset 0px 7px 10px 0px rgba(0, 0, 0, 0.2); }
